{% extends 'adminTemplate/base.html.twig' %}
{% set page_title %}Testimonials List{% endset %}
{% block breadcrumb %}
    <a href="{{ path('dashboard') }}" class="breadcrumb-item">
        <i class="icon-home2 mr-2"></i>
        Dashboard
    </a>
    <span class="breadcrumb-item active">Testimonials List</span>
{% endblock %}
{% block content %}
    <div class="card">
        <div class="px-2 pt-2">
            {% include 'adminTemplate/_flash-messages.html.twig' %}
        </div>
        <div class="card-header d-flex justify-content-end">
            <a href="{{ path('testimonial_new') }}" class="btn btn-primary"><i class="icon-plus-circle2 mr-2"></i>Add
                Testimonial</a>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Sort No.</th>
                    <th>Client</th>
                    <th>Social Media Type</th>
                    <th>Publish</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% if paginator is not empty %}
                    {% for testimonial in paginator %}
                        <tr>
                            <td>{{ testimonial.id }}</td>
                            <td>{{ testimonial.sortNo ? testimonial.sortNo : "n/a" }}</td>
                            <td>{{ testimonial.client ? testimonial.client : 'n/a' }}</td>
                            <td>{{ testimonial.socialMediaType|capitalize }}</td>
                            <td>
                                {% if testimonial.publish %}
                                    <span class="badge badge-flat border-success text-success">Published</span>
                                {% else %}
                                    <span class="badge badge-flat border-danger text-danger">Not Published</span>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                <div class="list-icons">
                                    <div class="dropdown">
                                        <a href="#" class="list-icons-item" data-toggle="dropdown">
                                            <i class="icon-menu9"></i>
                                        </a>

                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a href="{{ path('testimonial_edit', {"id": testimonial.id}) }}"
                                               class="dropdown-item"><i class="mi-mode-edit"></i>Edit</a>
                                            <a href="{{ path('testimonial_delete', {"id": testimonial.id}) }}"
                                               onclick="return confirm('Are you sure you want to remove this testimonial ?')"
                                               class="dropdown-item"><i class="mi-delete-forever"></i>Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center py-3">
            {{ knp_pagination_render(paginator) }}
        </div>
    </div>
{% endblock %}