<div
        class="modal fade modal-style-4"
        id="editProfileModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="editProfileModal"
        aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form action="{{ path('fe_edit_profile_ajax') }}" class="modal-body" id="edit_profile_form">
                <div class="d-flex justify-content-end">
                    <button
                        type="button"
                        class="btn close-modal-btn"
                        data-dismiss="modal"
                    >
                        <i class="convert-svg" data-src="{{ asset('images/icons/x.svg') }}"></i>
                    </button>
                </div>
                <div class="form-group input-style-4 style-side w-75">
                    <label for="name">{{ 'name_txt'|trans }}</label>
                    <input
                        type="text"
                        class="form-control"
                        name="name"
                        id="name"
                        placeholder="{{ 'enter_name_txt'|trans }}"
                        required
                        value="{{ user.fullName }}"
                    />
                </div>
                <div class="form-group input-style-4 style-side w-75">
                    <label for="email">{{ 'email_txt'|trans }}</label>
                    <input
                            type="text"
                            class="form-control"
                            name="email"
                            id="email"
                            placeholder="{{ 'enter_email_txt'|trans }}"
                            value="{{ user.email }}"
                            required
                    />
                </div>
                <div class="form-group input-style-4 style-side w-75">
                    <label for="phone">{{ 'phone_txt'|trans }}</label>
                    <input
                            type="text"
                            class="form-control"
                            name="phone"
                            id="phone"
                            value="{{ user.phone }}"
                            placeholder="01xxxxxxxxx"
                    />
                </div>
                <div class="d-flex justify-content-end mt-5">
                    <button type="submit" class="btn btn-style-1 hover-effect w-25">
                        {{ 'save_txt'|trans }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>