{% macro product(entity) %}
    {% set image = asset('images/placeholders/placeholder-md.jpg') %}
    {% if entity.mainImage %}
        {% set image = absolute_url(asset(entity.mainImage.absolutePath)) %}
    {% endif %}
    <div class="card card-style-1">
        <div class="card-img-container">
            <img
                class="lazy"
                data-src="{{ image }}"
                alt="{{ entity.title }}"
            />
            <button type="button" class="btn fav-btn has-active-icon"></button>
            <button type="button" class="btn cart-btn btn-style-1 hover-effect" data-link="{{ path('fe_add_item_to_cart_ajax', {"slug": entity.seo.slug}) }}">
                {{ 'add_to_cart_txt'|trans }}
            </button>
        </div>
        {# @todo: add link #}
        <a href="#" class="card-title text-center">{{ entity.title }}</a>
        {# @todo: adjust currency and value #}
        <p class="card-price text-center mb-0">{{ entity.price }} EGP</p>
    </div>
{% endmacro %}

{% macro cartItem(entity) %}
    {% set image = asset('images/placeholders/placeholder-md.jpg') %}
    {% set product = entity.product %}
    {% if product.mainImage %}
        {% set image = absolute_url(asset(product.mainImage.absolutePath)) %}
    {% endif %}
    <div class="item" data-item-id="{{ entity.id }}">
        <div class="item-img-container">
            <img
                    class="lazy"
                    data-src="{{ image }}"
                    alt="{{ product.title }}"
            />
        </div>
        <div class="item-details-container">
            <div class="item-text-container">
                {# @todo: add link #}
                <a href="#" class="item-title">{{ product.title }}</a>
                <p class="item-quantity mb-0">{{ 'quantity_txt'|trans }} {{ entity.quantity }}</p>
            </div>
            <div class="price-btn-container">
                {# adjust currency and value #}
                <p class="item-price mb-0">{{ product.price }} <span>EGP</span></p>
                <button type="button" class="btn btn-style-1 hover-effect" data-link="{{ path('fe_remove_whole_item_from_cart_ajax', {"id": entity.id}) }}">
                    {{ 'remove_txt'|trans }}
                </button>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro cartItemInPage(entity) %}
    {% set image = asset('images/placeholders/placeholder-md.jpg') %}
    {% set product = entity.product %}
    {% if product.mainImage %}
        {% set image = absolute_url(asset(product.mainImage.absolutePath)) %}
    {% endif %}
    <div class="cart-item-container">
        <div class="cart-item" data-item-id="{{ entity.id }}">
            <div class="item-img">
                <img
                    class="lazy"
                    data-src="{{ image }}"
                    alt="{{ product.title }}"
                />
            </div>
            <div class="item-details">
                <div class="item-text">
                    <h5 class="item-main-category">{{ product.subcategory.title }}</h5>
                    {# @todo: add link #}
                    <a class="item-title" href="#">{{ product.title }}</a>
                    {# @todo: add right currency #}
                    <p class="item-price mb-0">{{ product.price }} EGP</p>
                </div>
                <div class="item-btns">
                    <a href="#" class="btn btn-style-1 remove-item-btn" data-link="{{ path('fe_remove_whole_item_from_cart_ajax', {"id": entity.id}) }}">{{ 'remove_txt'|trans }}</a>
                    {# @todo: add wishlist logic #}
                    <a href="#" class="btn btn-style-1 bg-black">{{ 'move_to_wishlist_txt'|trans }}</a>
                </div>
            </div>
        </div>
        <div class="incrementor incrementor-style-1">
            <p class="incrementor-title">{{ 'quantity_txt'|trans }}</p>
            <div class="incrementor-container">
                <button type="button" class="btn minus" data-link="{{ path('fe_remove_one_item_from_cart_ajax', {"id": entity.id}) }}">
                    <i class="convert-svg" data-src="{{ asset('images/icons/caret-circle-left.svg') }}"></i>
                </button>
                {# @todo: add readonly in frontend #}
                <input type="number" readonly name="qty" min="0" value="{{ entity.quantity }}"/>
                <button type="button" class="btn plus" data-link="{{ path('fe_add_item_to_cart_ajax', {"slug": product.seo.slug}) }}">
                    <i class="convert-svg" data-src="{{ asset('images/icons/caret-circle-right.svg') }}"></i>
                </button>
            </div>
        </div>
    </div>
{% endmacro %}