{% set cr = app.request.attributes.get('_route') %}

<!DOCTYPE html>
<html lang="en">
<head>
    {# META TAGS #}
    {% block metatags %}
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="keywords" content="joez-marble"/>
        <meta name="description" content="Joez Marble"/>
    {% endblock %}
    {# END META TAGS #}
    {# FAVICON #}
    {# @todo: add favicon #}
    {# <link rel="shortcut icon" type="image/png" href="{{ asset('images/favicon.ico') }}"/> #}
    {# END FAVICON #}

    <title>{% block title %}{% endblock %} | {{ constant('\\App\\Kernel::WEBSITE_TITLE')|trans }}</title>
    {# BASE CSS #}
    {% block stylesheet %}
        <link rel="stylesheet" href="{{ asset('vendors/fontawesome/css/all.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
    {% endblock %}
    {# END BASE CSS #}

</head>

<body>
<div class="pre-loader">
    <div class="pre-loader-object"></div>
</div>

{# HEADER #}
{% if cr not in ['app_user_login', 'app_user_registration'] %}
    {{ render(controller('App\\PageBundle\\Controller\\HomeController::menu', {"request": app.request})) }}
{% endif %}
{# END HEADER #}

<main>
    {# BODY #}
    {% block content %}
    {% endblock %}
    {# END BODY #}
</main>

{# FOOTER #}
{% if cr not in ['app_user_login', 'app_user_registration'] %}
    {{ render(controller('App\\PageBundle\\Controller\\HomeController::footer', {"request": app.request})) }}
{% endif %}
{# END FOOTER #}

{# JS #}
{% block javascripts %}
    <script src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ asset('vendors/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('vendors/jquery-validation/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('vendors/jquery.lazy/jquery.lazy.min.js') }}"></script>
    <script>
        const appIconsPaths = {
            xIcon: "{{ asset('images/icons/x.svg') }}",
            minusIcon: "{{ asset('images/icons/minus.svg') }}",
            plusIcon: "{{ asset('images/icons/plus.svg') }}",
        };
    </script>
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}
{# END JS #}

{# FIXED LAYOUTS #}
{% if cr not in ['app_user_login', 'app_user_registration'] %}
    {% block fixedLayouts %}
        {% include 'fe/_back-to-top-btn.html.twig' %}
        {{ render(controller('App\\PageBundle\\Controller\\HomeController::editProfile', {"request": app.request})) }}
        {{ render(controller('App\\PageBundle\\Controller\\HomeController::shopAndShip', {"request": app.request})) }}
        {{ render(controller('App\\PageBundle\\Controller\\HomeController::privacyPolicy', {"request": app.request})) }}
        {{ render(controller('App\\PageBundle\\Controller\\HomeController::mobileMenu', {"request": app.request})) }}
        {% include 'fe/_mobile-search-popup.html.twig' %}
        {% include 'fe/_alert.html.twig' %}
        {% include 'fe/_flash-messages.html.twig' %}
    {% endblock %}
    {# END FIXED LAYOUTS #}
{% endif %}
</body>
</html>