{% extends 'fe/base.html.twig' %}
{% block title %}{{ 'sign_in_txt'|trans }}{% endblock %}

{% block content %}
<div id="bg_image_page">
    <div class="container d-flex justify-content-center align-items-center">
        <form method="POST" class="account-form-container form-validate flex-column w-75" id="sign_in_form">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
            <input type="hidden" name="_target_path" value="{{ targetPath }}"/>

            {% if error is defined and error %}
                <div class="alert bg-danger alert-styled-left">
                    <span class="text-semibold">Oh snap!</span> {{ error.message }}.
                </div>
            {% endif %}
            {% if app.user %}
                <div class="alert bg-info alert-styled-left">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_user_logout') }}">Logout</a>
                </div>
            {% endif %}
            {# end to be adjusted #}

            <div class="form-content w-50">
                <h5 class="form-title">{{ 'sign_in_txt'|trans }}</h5>
                <div class="form-group input-style-1 w-100">
                    <input type="email" class="form-control" name="_username" placeholder="{{ 'email_txt'|trans }}" required value="{{ last_username }}">
                </div>
                <div class="form-group input-style-1 has-icon w-100">
                    <input type="password" class="form-control" name="_password" placeholder="{{ 'password_txt'|trans }}" required>
                    <button type="button" class="btn toggle-pass-btn">
                        <i class="convert-svg" data-src="{{ asset('images/icons/eye.svg') }}"></i>
                    </button>
                </div>
                <a href="{{ path('app_user_forgot_password_request') }}" class="btn blue-link">{{ 'forgot_password_txt'|trans }}</a>
                <button type="submit" class="btn btn-style-4">{{ 'sign_in_txt'|trans }}</button>
                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook'}) }}" class="btn btn-style-5 w-100 facebook">
                    <i class="convert-svg" data-src="{{ asset('images/icons/facebook-logo-white.svg') }}"></i>
                    <span>{{ 'sign_in_facebook_txt'|trans }}</span>
                </a>
                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google'}) }}" class="btn btn-style-5 w-100 google">
                    <i class="convert-svg" data-src="{{ asset('images/icons/google-logo.svg') }}"></i>
                    <span>{{ 'sign_in_google_txt'|trans }}</span>
                </a>
{#                <a href="#" class="btn btn-style-5 w-100 apple">#}
{#                    <i class="convert-svg" data-src="{{ asset('images/icons/apple-logo.svg') }}"></i>#}
{#                    <span>{{ 'sign_in_apple_txt'|trans }}</span>#}
{#                </a>#}
                <div class="other-option-text">
                    <span>{{ 'not_have_account_txt'|trans }}</span>
                    <a href="{{ path('app_user_registration') }}" class="black-link">{{ 'sign_up_txt'|trans }}</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/account-form.js') }}"></script>
{% endblock %}