{% set cr = app.request.attributes.get('_route') %}
{% extends 'adminTemplate/base.html.twig' %}
{% set pageName = 'New Product' %}
{% if cr in ['product_edit'] %}
    {% set pageName = 'Edit '~product.title %}
{% endif %}
{% set page_title %}{{ pageName }}{% endset %}

{% block breadcrumb %}
    <a href="{{ path('dashboard') }}" class="breadcrumb-item">
        <i class="icon-home2 mr-2"></i>
        Dashboard
    </a>
    <a href="{{ path('product_index') }}" class="breadcrumb-item">
        <i class="icon-user-tie mr-2"></i>
        Products List
    </a>
    <span class="breadcrumb-item active">{{ pageName }}</span>
{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header">
            {% include 'adminTemplate/_flash-messages.html.twig' %}
        </div>
        <div class="card-body">
            {% include 'ecommerce/admin/product/_form.html.twig' %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('admin/js/plugins/forms/validation/validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/plugins/forms/validation/validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/plugins/forms/selects/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/plugins/uploaders/fileinput/plugins/sortable.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/plugins/uploaders/fileinput/fileinput.min.js') }}"></script>
{% endblock scripts %}