{% set cr = app.request.attributes.get('_route') %}
{% extends 'adminTemplate/base.html.twig' %}
{% set page_title %}Product Gallery{% endset %}
{% block breadcrumb %}
    <a href="{{ path('dashboard') }}" class="breadcrumb-item">
        <i class="icon-home2 mr-2"></i>
        Dashboard
    </a>
    <a href="{{ path('product_index') }}" class="breadcrumb-item">
        Products List
    </a>
    <a href="{{ path('product_edit', {"id": product.id}) }}" class="breadcrumb-item">
        {{ product.title }}
    </a>
    <span class="breadcrumb-item active">{{ product.title }}'s Gallery Images</span>
{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header">
            {% include 'adminTemplate/_flash-messages.html.twig' %}
        </div>
        <div class="card-body">
            {{ form_start(form, {'attr':{"data-toggle":"validator", 'novalidate':'novalidate'}}) }}
            <div class="col-12 my-4">
                {{ form_label(form.galleryImages) }}
                {{ form_widget(form.galleryImages) }}
                <span class="form-text text-muted">Valid Types are png, jpg, jpeg, gif</span>
                <span class="form-text text-muted">Gallery Images Sizes: 540 px x 360 px</span>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    {% if product.galleryImages is not empty %}
        {% include 'ecommerce/admin/product/_gallery-images.html.twig' %}
    {% endif %}
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('admin/js/plugins/forms/selects/select2.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('admin/js/plugins/uploaders/fileinput/plugins/sortable.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/plugins/uploaders/fileinput/fileinput.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/plugins/media/glightbox.min.js') }}"></script>
    <script>
        $(".form-control.materials-select").on("change", function() {
            const selectedValue = $(this).val();
            if (selectedValue === "") {
                return;
            }
            const url = $(this).data("link");
            const data = {
                materialId: selectedValue,
            }
            $.post(url, data, function(json) {
                if(!json.error) {
                    popupQuickAlert('success', 'Material added Successfully');
                } else {
                    popupQuickAlert('error', 'Something went wrong');
                }
            });
        });
    </script>
{% endblock scripts %}