{{ form_start(form, {'attr':{"data-toggle":"validator", 'novalidate':'novalidate'}}) }}
<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group">
            {{ form_label(form.title) }}
            {{ form_widget(form.title) }}
            {{ form_errors(form.title) }}
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            {{ form_label(form.placement) }}
            {{ form_widget(form.placement) }}
            {{ form_errors(form.placement) }}
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            {{ form_label(form.sortNo) }}
            {{ form_widget(form.sortNo) }}
            {{ form_errors(form.sortNo) }}
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            {{ form_label(form.actionButtonText) }}
            {{ form_widget(form.actionButtonText) }}
            {{ form_errors(form.actionButtonText) }}
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            {{ form_label(form.url) }}
            {{ form_widget(form.url) }}
            {{ form_errors(form.url) }}
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            {{ form_label(form.text) }}
            {{ form_widget(form.text) }}
            {{ form_errors(form.text) }}
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="custom-control custom-switch custom-switch-square custom-control-success mb-2">
            {{ form_widget(form.publish) }}
            {{ form_label(form.publish) }}
            {{ form_errors(form.publish) }}
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="custom-control custom-switch custom-switch-square custom-control-success mb-2">
            {{ form_widget(form.openNewTab) }}
            {{ form_label(form.openNewTab) }}
            {{ form_errors(form.openNewTab) }}
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            {{ form_label(form.image) }}
            {{ form_widget(form.image) }}
            {{ form_errors(form.image) }}
        </div>
    </div>
</div>
<div class="text-right">
    <button type="submit" class="btn btn-primary">Submit form <i class="icon-paperplane ml-2"></i></button>
</div>
{{ form_end(form) }}