{% extends 'adminTemplate/base.html.twig' %}
{% set page_title %}Subcategories List{% endset %}
{% block breadcrumb %}
    <a href="{{ path('dashboard') }}" class="breadcrumb-item">
        <i class="icon-home2 mr-2"></i>
        Dashboard
    </a>
    <span class="breadcrumb-item active">Subcategories List</span>
{% endblock %}
{% block content %}
    <div class="card">
        <div class="px-2 pt-2">
            {% include 'adminTemplate/_flash-messages.html.twig' %}
        </div>
        <div class="card-header d-flex justify-content-end">
            <a href="{{ path('subcategory_new') }}" class="btn btn-primary"><i class="icon-plus-circle2 mr-2"></i>Add
                Subcategory</a>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Created</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% if paginator is not empty %}
                    {% for subcategory in paginator %}
                        <tr>
                            <td>{{ subcategory.id }}</td>
                            <td>{{ subcategory.title }}</td>
                            <td>{{ subcategory.category.title }}</td>
                            <td>{{ subcategory.created|date('d/m/Y') }}</td>
                            <td class="text-center">
                                <div class="list-icons">
                                    <div class="dropdown">
                                        <a href="#" class="list-icons-item" data-toggle="dropdown">
                                            <i class="icon-menu9"></i>
                                        </a>

                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a href="{{ path('subcategory_edit', {"id": subcategory.id}) }}"
                                               class="dropdown-item"><i class="mi-mode-edit"></i>Edit</a>
                                            <a href="{{ path('subcategory_delete', {"id": subcategory.id}) }}"
                                               onclick="return confirm('If you removed this subcategory, all its child products will be deleted. Are you sure you want to delete this subcategory')"
                                               class="dropdown-item"><i class="mi-delete-forever"></i>Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center py-3">
            {{ knp_pagination_render(paginator) }}
        </div>
    </div>
{% endblock %}