{% extends 'fe/base.html.twig' %}
{% block title %}{{ 'living_filter_page_txt'|trans }}{% endblock %}
{% import 'fe/_macros.html.twig' as macros %}

{% block content %}

    <div id="living_page" class="pb-4">
        <!-- living main section -->
        <div class="living-main-section mb-4">
            <div class="hero-header hero-header-1 mb-4 mb-md-5">
                {# @todo: add subcategory image #}
                <img
                    class="lazy"
                    data-src="https://via.placeholder.com/1850x350"
                    alt=""
                />
                <div class="container position-absolute header-title-container">
                    <h5 class="header-title">{{ subcategory.title }}</h5>
                </div>
            </div>
            <div class="container">
                {% if products is defined %}
                    {% if products|length == 0 %}
                        <p class="text-center py-5">No Products Available for {{ subcategory.title }} in Joez Living</p>
                    {% endif %}
                    <div class="products-list-section">
                        <div class="products-container">
                            {% for product in products %}
                                {{ macros.product(product) }}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <!-- end living main section -->

        {% if products is defined %}
            <div class="d-flex justify-content-center">
                {{ knp_pagination_render(products) }}
            </div>
        {% endif %}
    </div>

{% endblock %}