<!-- Main navbar -->
<div class="navbar navbar-expand-lg navbar-dark navbar-static">
    <div class="d-flex flex-1 d-lg-none">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
            <i class="icon-paragraph-justify3"></i>
        </button>
        <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
            <i class="icon-transmission"></i>
        </button>
    </div>

    <div class="navbar-brand text-center text-lg-left">
        <a href="{{ path('fe_home') }}" class="d-inline-block">
{#            <img src="{{ asset('admin/images/logo_light.png') }}" class="d-none d-sm-block" alt="">#}
{#            <img src="{{ asset('admin/images/logo_icon_light.png') }}" class="d-none d-sm-block" alt="">#}
            <h2 class="mb-0" style="color: #ffffff">Joez Marble</h2>
        </a>
    </div>

    <ul class="navbar-nav flex-row order-1 order-lg-2 flex-1 flex-lg-0 justify-content-end align-items-center">
        <li class="nav-item nav-item-dropdown-lg dropdown dropdown-user h-100">
            <a href="#"
               class="navbar-nav-link navbar-nav-link-toggler dropdown-toggle d-inline-flex align-items-center h-100"
               data-toggle="dropdown">
                {% if currentUser.avatar is defined %}
                    <img src="{{ asset(currentUser.avatar.assetPath) }}" class="rounded-pill mr-lg-2" height="34"
                         alt="">
                {% else %}
                    <img src="{{ asset('admin/images/placeholders/placeholder.jpg') }}" class="rounded-pill mr-lg-2"
                         height="34" alt="">
                {% endif %}
                <span class="d-none d-lg-inline-block">
                    {{ currentUserName }}
                </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="{{ path('admin_edit', {"id": currentUser.id}) }}" class="dropdown-item"><i class="icon-user-plus"></i>Edit
                    Profile</a>
                <div class="dropdown-divider"></div>
                <a href="{{ path('app_user_logout') }}" class="dropdown-item"><i class="icon-switch2"></i>Logout</a>
            </div>
        </li>
    </ul>
</div>
<!-- /main navbar -->