<!-- Main sidebar -->
<div class="sidebar sidebar-dark sidebar-main sidebar-expand-lg">
    <!-- Sidebar content -->
    <div class="sidebar-content">
        <!-- User menu -->
        <div class="sidebar-section sidebar-user my-1">
            <div class="sidebar-section-body">
                <div class="media d-flex align-items-center">
                    <a href="#" class="mr-3">
                        {% if currentUser.avatar is defined %}
                            <img src="{{ asset(currentUser.avatar.assetPath) }}" class="rounded-circle" alt="">
                        {% else %}
                            <img src="{{ asset('admin/images/placeholders/placeholder.jpg') }}" class="rounded-circle"
                                 alt="">
                        {% endif %}
                    </a>
                    <div class="media-body">
                        <div class="font-weight-semibold">{{ currentUserName }}</div>
                    </div>
                    <div class="ml-3 align-self-center">
                        <button type="button"
                                class="btn btn-outline-light-100 text-white border-transparent btn-icon rounded-pill btn-sm sidebar-control sidebar-main-resize d-none d-lg-inline-flex">
                            <i class="icon-transmission"></i>
                        </button>
                        <button type="button"
                                class="btn btn-outline-light-100 text-white border-transparent btn-icon rounded-pill btn-sm sidebar-mobile-main-toggle d-lg-none">
                            <i class="icon-cross2"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /user menu -->

        <!-- Main navigation -->
        <div class="sidebar-section">
            <ul class="nav nav-sidebar" data-nav-type="accordion">
                {# side bar link #}
                <li class="nav-item">
                    <a href="{{ path('dashboard') }}" class="nav-link">
                        <i class="icon-home4"></i>
                        <span>
                            Dashboard
                        </span>
                    </a>
                </li>
                {# end side bar link #}

                {# side bar link #}
                <li class="nav-item">
                    <a href="{{ path('admin_index') }}" class="nav-link">
                        <i class="icon-user-tie"></i>
                        <span>
                            Administrators
                        </span>
                    </a>
                </li>
                {# end side bar link #}
            </ul>
        </div>
        <!-- /main navigation -->
    </div>
    <!-- /sidebar content -->
</div>
<!-- /main sidebar -->