<!-- Main sidebar -->
<div class="sidebar sidebar-dark sidebar-main sidebar-expand-lg">
    <!-- Sidebar content -->
    <div class="sidebar-content">
        <!-- User menu -->
        <div class="sidebar-section sidebar-user my-1">
            <div class="sidebar-section-body">
                <div class="media d-flex align-items-center">
                    <a href="#" class="mr-3">
                        {% if currentUser.avatar is defined %}
                            <img src="{{ asset(currentUser.avatar.assetPath) }}" class="rounded-circle" alt="">
                        {% else %}
                            <img src="{{ asset('admin/images/placeholders/placeholder.jpg') }}" class="rounded-circle"
                                 alt="">
                        {% endif %}
                    </a>
                    <div class="media-body">
                        <div class="font-weight-semibold">{{ currentUserName }}</div>
                    </div>
                    <div class="ml-3 align-self-center">
                        <button type="button"
                                class="btn btn-outline-light-100 text-white border-transparent btn-icon rounded-pill btn-sm sidebar-control sidebar-main-resize d-none d-lg-inline-flex">
                            <i class="icon-transmission"></i>
                        </button>
                        <button type="button"
                                class="btn btn-outline-light-100 text-white border-transparent btn-icon rounded-pill btn-sm sidebar-mobile-main-toggle d-lg-none">
                            <i class="icon-cross2"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /user menu -->

        <!-- Main navigation -->
        <div class="sidebar-section">
            <ul class="nav nav-sidebar" data-nav-type="accordion">
                {# DASHBOARD #}
                <li class="nav-item">
                    <a href="{{ path('dashboard') }}" class="nav-link">
                        <i class="icon-home4"></i>
                        <span>
                            Dashboard
                        </span>
                    </a>
                </li>
                {# END DASHBOARD #}

                {# ADMINISTRATORS #}
                <li class="nav-item">
                    <a href="{{ path('admin_index') }}" class="nav-link">
                        <i class="icon-user-tie"></i>
                        <span>
                            Administrators
                        </span>
                    </a>
                </li>
                {# END ADMINISTRATORS #}

                {# USERS #}
                <li class="nav-item">
                    <a href="{{ path('user_index') }}" class="nav-link">
                        <i class="icon-users4"></i>
                        <span>
                            Users
                        </span>
                    </a>
                </li>
                {# END USERS #}

                {# USERS FEEDBACKS #}
                <li class="nav-item">
                    <a href="{{ path('user_feedback_index') }}" class="nav-link">
                        <i class="icon-thumbs-up2"></i>
                        <span>
                            Users Feedbacks
                        </span>
                    </a>
                </li>
                {# END USERS FEEDBACKS #}

                {# BANNERS #}
                <li class="nav-item">
                    <a href="{{ path('banner_index') }}" class="nav-link">
                        <i class="icon-images3"></i>
                        <span>
                            Banners
                        </span>
                    </a>
                </li>
                {# END BANNERS #}

                {# TESTIMONIALS #}
                <li class="nav-item">
                    <a href="{{ path('testimonial_index') }}" class="nav-link">
                        <i class="icon-star-half"></i>
                        <span>
                            Testimonials
                        </span>
                    </a>
                </li>
                {# END TESTIMONIALS #}

                {# FAQs #}
                <li class="nav-item nav-item-submenu">
                    <a href="#" class="nav-link"><i class="icon-question7"></i> <span>FAQs</span></a>
                    <ul class="nav nav-group-sub" data-submenu-title="e-commerce">
                        <li class="nav-item"><a href="{{ path('faq_category_index') }}" class="nav-link">Categories</a></li>
                        <li class="nav-item"><a href="{{ path('faq_index') }}" class="nav-link">FAQs</a></li>
                    </ul>
                </li>
                {# END FAQs #}

                {# ECOMMERCE #}
                <li class="nav-item nav-item-submenu">
                    <a href="#" class="nav-link"><i class="icon-cart5"></i> <span>E-Commerce</span></a>
                    <ul class="nav nav-group-sub" data-submenu-title="e-commerce">
                        <li class="nav-item"><a href="{{ path('category_index') }}" class="nav-link">Categories</a></li>
                        <li class="nav-item"><a href="{{ path('subcategory_index') }}" class="nav-link">Subcategories</a></li>
                        <li class="nav-item"><a href="{{ path('material_index') }}" class="nav-link">Materials</a></li>
                        <li class="nav-item"><a href="{{ path('product_index') }}" class="nav-link">Products</a></li>
                        <li class="nav-item"><a href="{{ path('product_spec_index') }}" class="nav-link">Product Specs</a></li>
                        <li class="nav-item"><a href="{{ path('currency_index') }}" class="nav-link">Currencies</a></li>
                        <li class="nav-item"><a href="{{ path('order_index') }}" class="nav-link">Orders</a></li>
                    </ul>
                </li>
                {# END ECOMMERCE #}
            </ul>
        </div>
        <!-- /main navigation -->
    </div>
    <!-- /sidebar content -->
</div>
<!-- /main sidebar -->