{% extends 'fe/base.html.twig' %}
{% block title %}{{ 'forgot_password_title_txt'|trans }}{% endblock %}

{% block content %}
    <div id="bg_image_page">
        <div class="container d-flex justify-content-center align-items-center">
            {{ form_start(form, {"attr": {"class": "account-form-container form-validate flex-column w-75"}}) }}
                {% if error is defined and error %}
                    <div class="alert bg-danger alert-styled-left">
                        <span class="text-semibold">Oh snap!</span> {{ error.message }}.
                    </div>
                {% endif %}
                <div class="form-content w-50">
                    <h5 class="form-title">{{ 'forgot_password_title_txt'|trans }}</h5>
                    <div class="form-group input-style-1 w-100">
                        {{ form_widget(form.email) }}
                        {{ form_errors(form.email) }}
                    </div>
                    <div class="other-option-text">
                        <span>{{ 'will_send_you_instructions_msg'|trans }}</span>
                    </div>
                </div>
                <div class="d-flex justify-content-between mt-4">
                    <button type="submit" class="btn btn-style-1 bg-black hover-effect">Submit</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

