{% extends 'adminTemplate/base2.html.twig' %}
{% set page_title %}Forgot password{% endset %}

{% block body %}
    {{ form_start(form, {"attr": {"class": "form-validate"}}) }}
    <div class="panel panel-body login-form">
        {% include('adminTemplate/_flash_messages.html.twig') %}

        <div class="text-center">
            <div class="icon-object border-warning text-warning"><i class="icon-spinner11"></i></div>
            <h5 class="content-group">Password recovery
                <small class="display-block">We'll send you instructions in email</small>
            </h5>
        </div>
        <div class="form-group has-feedback">
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}
            <div class="form-control-feedback">
                <i class="icon-mail5 text-muted"></i>
            </div>
        </div>
        <button type="submit" class="btn bg-blue btn-block">
            Reset Password <i class="icon-arrow-right14 position-right"></i>
        </button>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('admin/js/plugins/forms/styling/uniform.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/pages/login_validation.js') }}"></script>
{% endblock javascripts %}

