{% set cr = app.request.attributes.get('_route') %}
{% extends 'adminTemplate/base.html.twig' %}
{% set page_title %}Material Gallery{% endset %}
{% block breadcrumb %}
    <a href="{{ path('dashboard') }}" class="breadcrumb-item">
        <i class="icon-home2 mr-2"></i>
        Dashboard
    </a>
    <a href="{{ path('material_index') }}" class="breadcrumb-item">
        Materials List
    </a>
    <a href="{{ path('material_edit', {"id": material.id}) }}" class="breadcrumb-item">
        {{ material.title }}
    </a>
    <span class="breadcrumb-item active">{{ material.title }}'s Gallery Images</span>
{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header">
            {% include 'adminTemplate/_flash-messages.html.twig' %}
        </div>
        <div class="card-body">
            {{ form_start(form, {'attr':{"data-toggle":"validator", 'novalidate':'novalidate'}}) }}
            <div class="col-12 my-4">
                {{ form_label(form.galleryImages) }}
                {{ form_widget(form.galleryImages) }}
                <span class="form-text text-muted">Valid Types are png, jpg, jpeg, gif</span>
                <span class="form-text text-muted">Gallery Images Sizes: 600 px x 600 px</span>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    {% if material.galleryImages is not empty %}
        {% include 'ecommerce/admin/material/_gallery-images.html.twig' %}
    {% endif %}
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script type="text/javascript"
            src="{{ asset('admin/js/plugins/uploaders/fileinput/plugins/sortable.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/plugins/uploaders/fileinput/fileinput.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/plugins/media/glightbox.min.js') }}"></script>
{% endblock scripts %}