{% extends 'adminTemplate/base.html.twig' %}
{% set page_title %}Administrators List{% endset %}
{% block breadcrumb %}
    <a href="{{ path('dashboard') }}" class="breadcrumb-item">
        <i class="icon-home2 mr-2"></i>
        Dashboard
    </a>
    <span class="breadcrumb-item active">Administrators List</span>
{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header d-flex justify-content-end">
            <a href="{{ path('admin_new') }}" class="btn btn-primary"><i class="icon-plus-circle2 mr-2"></i>Add Administrator</a>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Phone</th>
                    <th>Status</th>
                    <th>Last Login</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% if administrators is not empty %}
                    {% for administrator in administrators %}
                        <tr>
                            <td>{{ administrator.fullName }}</td>
                            <td>{{ administrator.email }}</td>
                            <td>{{ administrator.gender ? administrator.gender : 'n/a' }}</td>
                            <td>{{ administrator.phone ? administrator.phone : 'n/a' }}</td>
                            <td>
                                {% if administrator.enabled %}
                                    <span class="badge badge-success">Active</span>
                                {% else %}
                                    <span class="badge badge-danger">Inactive</span>
                                {% endif %}
                            </td>
                            <td>{{ administrator.lastLogin|date('d/m/Y') }}</td>
                            <td class="text-center">
                                <div class="list-icons">
                                    <div class="dropdown">
                                        <a href="#" class="list-icons-item" data-toggle="dropdown">
                                            <i class="icon-menu9"></i>
                                        </a>

                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a href="{{ path('admin_edit', {"id": administrator.id}) }}" class="dropdown-item"><i class="mi-mode-edit"></i>Edit</a>
                                            <a href="{{ path('admin_delete', {"id": administrator.id}) }}" onclick="return confirm('Are you sure you want to remove this administrator ?')" class="dropdown-item"><i class="mi-delete-forever"></i>Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}