{% extends 'adminTemplate/base.html.twig' %}
{% set page_title %}New Administrators{% endset %}
{% block breadcrumb %}
    <a href="{{ path('dashboard') }}" class="breadcrumb-item">
        <i class="icon-home2 mr-2"></i>
        Dashboard
    </a>
    <a href="{{ path('dashboard') }}" class="breadcrumb-item">
        <i class="icon-user-tie mr-2"></i>
        Administrators
    </a>
    <span class="breadcrumb-item active">New Administrator</span>
{% endblock %}
{% block content %}
    {% include 'user/admin/admin/_form.html.twig' %}
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('admin/js/plugins/forms/validation/validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/plugins/forms/validation/validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/plugins/forms/selects/select2.min.js') }}"></script>
{% endblock scripts %}